# ==== Image ====
image:
  repository: mlopsdevacr2025.azurecr.io/fraud-api
  tag: "latest"
  pullPolicy: Always

# ==== Replicas ====
replicaCount: 2

# ==== Service ====
service:
  type: ClusterIP
  port: 80

# ==== App Environment Variables ====

env:
  - name: PYTHONUNBUFFERED
    value: "1"


modelStorage:
  secretName: model-storage-secret        # Kubernetes Secret name that holds  Azure connection string
  containerName: ml-models                # Azure Blob container where the model is stored
  blobName: pipeline.joblib               # Blob (model file) name inside the container

# ==== Resources ====
resources:
  requests:
    cpu: "250m"
    memory: "512Mi"
  limits:
    cpu: "500m"
    memory: "1Gi"

# ==== Ingress ====
ingress:
  enabled: true
  host: fraud-api.myapp.it.com
  tlsIssuer: fraudapp-encryption-prod

# ==== Monitoring ====
monitoring:
  grafanaServiceName: prometheus-grafana
  grafanaNamespace: monitoring
  grafanaPort: 80
